.App {
	display: block;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.updatesContainer {
	display: inline-block;
	width: 80%;
}

.updates {
	width: 100%;
	padding: 20px;
}

.update {
	width: 50%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-bottom: 10px;
}

.update h1 {
	font-size: 22px;
	margin-bottom: 20px;
	color: #b4d455;
}

.update h2 {
	font-size: 18px;
	margin-bottom: 20px;
	color: #bcbcbc;
}

.update h3 {
	font-size: 14px;
	margin-bottom: 20px;
	color: #bcbcbc;
}

.updateItem {
	font-size: 18px;
	margin-bottom: 20px;
	color: #555555;
}

.users {
	width: 20%;
	display: inline-block;
	list-style: none;
	vertical-align: top;
}

.user {
	padding: 20px;
	border-bottom: 1px solid #dddddd;
}

.user.is-active {
	background-color: #b4d455;
}

.dateLine {
	font-size: 22px;
	border-bottom: 1px solid #bcbcbc;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #bcbcbc;
	margin-top: 20px;
}
